SolUno_n8n_sistema.json
{
  "id": "soluno-sys",
  "name": "SolUno - Sistema Completo (IA + Ciclo Vivo)",
  "active": false,
  "nodes": [
    { "parameters": { "content": "## SolUno - Sistema Completo\n\n**Reporte:** Canales -> Tokenizar -> IA (Groq) -> Agrupar semantico -> Queja(autoservicio)/Incidente(equipo) -> Respuesta.\n**Cierre del ciclo:** Resolver -> Playbook Vivo (compartido) -> Informe ASFI.\n\nEl playbook que actualiza 'Resolver' lo USA 'Respuesta Queja' => ciclo cerrado real.", "height": 240, "width": 380 }, "id": "nota-config", "name": "Notas", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-560, 20] },
    { "parameters": { "updates": ["messages"] }, "id": "trig-wa", "name": "WA Trigger (produccion)", "type": "n8n-nodes-base.whatsAppTrigger", "typeVersion": 1, "position": [-140, 80], "disabled": true },
    { "parameters": { "httpMethod": "POST", "path": "meta-incoming", "responseMode": "onReceived", "options": {} }, "id": "trig-meta", "name": "Meta Webhook (produccion)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-140, 280], "webhookId": "meta-incoming" },
    { "parameters": { "httpMethod": "POST", "path": "soluno-reporte", "responseMode": "responseNode", "options": {} }, "id": "trig-demo", "name": "Webhook Demo", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-140, 480], "webhookId": "soluno-reporte" },
    { "parameters": { "jsCode": "const j = $input.item.json;\nlet mensaje = '', remitente = '';\ntry {\n  const m = (j.messages && j.messages[0]) || (j.entry && j.entry[0].changes[0].value.messages[0]);\n  mensaje = m.text ? m.text.body : (m.body || '');\n  remitente = m.from || '';\n} catch (e) { mensaje = j.message || ''; }\nreturn { json: { origen: 'whatsapp', canal: 'WhatsApp', producto: '', agencia: '', mensaje, cliente: { telefono: remitente }, remitente } };" }, "id": "norm-wa", "name": "Norm. WhatsApp", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [120, 80] },
    { "parameters": { "jsCode": "const b = $input.item.json.body || $input.item.json;\nlet canal = b.object === 'instagram' ? 'Instagram' : 'Facebook';\nlet mensaje = '', remitente = '';\ntry {\n  const ev = b.entry[0].messaging[0];\n  mensaje = ev.message ? (ev.message.text || '') : '';\n  remitente = ev.sender ? ev.sender.id : '';\n} catch (e) { mensaje = b.mensaje || ''; canal = b.canal || canal; }\nreturn { json: { origen: 'meta', canal, producto: '', agencia: '', mensaje, cliente: { id: remitente }, remitente } };" }, "id": "norm-meta", "name": "Norm. Meta", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [120, 280] },
    { "parameters": { "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst cli = b.cliente || {};\nreturn { json: { origen: 'demo', canal: b.canal || 'Demo', producto: b.producto || '', agencia: b.agencia || '', mensaje: b.mensaje || '', cliente: cli, remitente: b.remitente || cli.telefono || cli.id || '', historial: b.historial || '' } };" }, "id": "norm-demo", "name": "Norm. Demo", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [120, 480] },
    { "parameters": { "jsCode": "const j = $input.item.json;\nconst cliente = j.cliente || {};\nlet texto = (j.mensaje || '').toString();\nconst mapa = {};\nfunction tk(v, p) { if (!v) return; const t = '{' + p + '_001}'; mapa[t] = v; if (texto.includes(v)) texto = texto.split(v).join(t); }\ntk(cliente.nombre, 'NAME'); tk(cliente.ci, 'CI'); tk(cliente.cuenta, 'ACCT'); tk(cliente.telefono, 'PHONE');\nreturn { json: { ...j, texto_tokenizado: texto, mapa_tokens: mapa, cliente_visible: { nombre: cliente.nombre || null, ci: cliente.ci || null } } };" }, "id": "tokenizar", "name": "Tokenizar (PII)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [360, 280] },
    { "parameters": { "method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" }, { "name": "content-type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 300, temperature: 0, messages: [{ role: 'system', content: 'Eres un clasificador de incidencias de BancoSol. Responde SOLO con un JSON valido, sin texto extra, forma exacta: {\"tipo\":\"queja|incidente|consulta\",\"producto\":\"altoke|appSol|Solnet|desconocido\",\"categoria\":\"acceso|transacciones|rendimiento|datos|general\",\"severidad\":\"alta|media|baja\",\"firma\":\"slug\"}. INCIDENTE si falla una funcion critica de forma generalizada (login, transferencia, QR, ACH, app caida, nadie puede entrar). QUEJA si es un caso particular de bajo impacto con solucion conocida (cambio de dispositivo y reactivar tokens; pago y aun figura deuda; dudas de configuracion). CONSULTA si es un saludo, pregunta general o mensaje vago sin un problema concreto (hola, buenas, una consulta, info). El campo \"firma\" DEBE ser EXACTAMENTE UNA de esta lista cerrada (elige la mas adecuada, NO inventes otras): fallo_pagos_qr, error_transferencia, fallo_ach, caida_login, app_no_carga, lentitud_servicio, datos_no_actualizados, deuda_no_actualizada, cambio_dispositivo, duda_configuracion, duda_limite, otro. Mensajes del MISMO problema raiz DEBEN compartir la misma firma aunque esten redactados distinto.' }, { role: 'user', content: ($json.texto_tokenizado || '') }] }) }}", "options": {} }, "id": "clasif-ia", "name": "Clasificar IA (Groq)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 180], "onError": "continueRegularOutput" },
    { "parameters": { "jsCode": "// Usa la IA si devolvio JSON valido; si no, REGLAS.\nconst base = $('Tokenizar (PII)').item.json;\nconst resp = $input.item.json;\nlet tipo, producto, categoria, severidad, firma, fuente = 'reglas';\ntry {\n  let txt = '';\n  if (resp && resp.choices && resp.choices[0] && resp.choices[0].message) txt = resp.choices[0].message.content || '';\n  else if (resp && resp.content && resp.content[0] && resp.content[0].text) txt = resp.content[0].text;\n  if (txt) { const a = txt.indexOf('{'), b = txt.lastIndexOf('}'); if (a>=0 && b>a) { const c = JSON.parse(txt.slice(a,b+1)); if (c.tipo) { tipo=c.tipo; producto=c.producto; categoria=c.categoria; severidad=c.severidad; firma=c.firma; fuente='ia (groq)'; } } }\n} catch(e) {}\nif (!tipo) {\n  const t = (base.texto_tokenizado||'').toLowerCase();\n  producto = base.producto || 'desconocido';\n  if (t.includes('altoke')||t.includes('qr')) producto='altoke'; else if (t.includes('appsol')) producto='appSol'; else if (t.includes('solnet')) producto='Solnet';\n  tipo='queja'; severidad='baja'; categoria='general';\n  const con=[['cambie de celular','cambié de celular','cambie de dispositivo','nuevo celular','nuevo dispositivo'],['escanear','carnet','extranjero'],['sigue saliendo la deuda','sigue la deuda','no me han devuelto','ya pague','pague y sigue']];\n  const cat=['acceso','acceso','transacciones']; let ok=false;\n  for (let i=0;i<con.length;i++){ if(con[i].some(x=>t.includes(x))){ok=true;categoria=cat[i];break;} }\n  if(!ok){ const se=['no puedo entrar','no puedo iniciar','no inicia','no carga','no funciona','caido','caida','no puedo transferir','qr no','no procesa','error general','se cae','app caida','no puedo acceder','no anda','nadie puede']; const cr=['login','iniciar sesion','transferencia','transferir','qr','ach'];\n    if(se.some(k=>t.includes(k))){tipo='incidente';severidad='alta';}\n    if(cr.some(k=>t.includes(k))&&(t.includes('no ')||t.includes('error')||t.includes('falla'))){tipo='incidente';severidad='alta';}\n    if(t.includes('transfer')||t.includes('pago')||t.includes('qr'))categoria='transacciones'; else if(t.includes('iniciar')||t.includes('login')||t.includes('entrar')||t.includes('sesion')||t.includes('acceso'))categoria='acceso'; else if(t.includes('lento')||t.includes('demora')||t.includes('timeout'))categoria='rendimiento'; else if(t.includes('saldo')||t.includes('movimiento')||t.includes('comprobante'))categoria='datos';\n  }\n}\nif (tipo!=='queja' && tipo!=='incidente') tipo='queja';\nif (!firma) firma = (producto||'x') + '_' + (categoria||'general');\nfirma = String(firma).toLowerCase().replace(/[^a-z0-9_]+/g,'_').replace(/^_+|_+$/g,'');\nreturn { json: { ...base, tipo, severidad: severidad||'baja', producto: producto||'desconocido', categoria: categoria||'general', firma, clasificado_por: fuente } };" }, "id": "interpretar", "name": "Interpretar Clasificacion", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [840, 280] },
    { "parameters": { "jsCode": "// AGRUPAR por FIRMA (semantico) + CONTAR + ESCALAR severidad por afectados\nconst j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.incidentes = sd.incidentes || {};\nif (j.tipo === 'incidente') {\n  const clave = (j.producto||'x') + '|' + (j.firma||'general');\n  if (!sd.incidentes[clave]) { sd.incidentes[clave] = { caso_id: 'INC-' + Date.now().toString().slice(-5), afectados: 0 }; }\n  sd.incidentes[clave].afectados += 1;\n  j.caso_id = sd.incidentes[clave].caso_id;\n  j.afectados = sd.incidentes[clave].afectados;\n  j.incidente_nuevo = sd.incidentes[clave].afectados === 1;\n  j.clave_incidente = clave;\n  // Escalar severidad segun impacto real\n  if (j.afectados >= 10) j.severidad = 'critica';\n  else if (j.afectados >= 3 && j.severidad === 'baja') j.severidad = 'media';\n} else {\n  j.caso_id = 'QJA-' + Date.now().toString().slice(-5);\n  j.afectados = 1;\n}\nreturn { json: j };" }, "id": "agrupar", "name": "Agrupar (semantico) y Contar", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1080, 280] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-inc", "leftValue": "={{ $json.tipo }}", "rightValue": "incidente", "operator": { "type": "string", "operation": "equals" } } ] }, "options": {} }, "id": "if-inc", "name": "Es Incidente?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1300, 280] },
    { "parameters": { "jsCode": "const j = $input.item.json;\nlet equipo = 'Mesa de Incidentes TI';\nif (j.categoria === 'transacciones' || j.producto === 'altoke') equipo = 'Equipo Pagos/QR';\nelse if (j.categoria === 'acceso') equipo = 'Equipo Seguridad/Accesos';\nelse if (j.categoria === 'rendimiento') equipo = 'Infraestructura/TI';\nelse if (j.producto === 'appSol' || j.producto === 'Solnet') equipo = 'DevOps Aplicaciones';\nreturn { json: { ...j, resultado: 'INCIDENTE', estado: 'En análisis', equipo_asignado: equipo, paquete_para_desarrollo: { que_falla: (j.categoria||'general')+' en '+(j.producto||'desconocido'), firma: j.firma, producto: j.producto, severidad: j.severidad, afectados: j.afectados, incidente_nuevo: j.incidente_nuevo, datos_para_reproducir: { canal: j.canal, producto: j.producto, agencia: j.agencia, texto_tokenizado: j.texto_tokenizado }, equipo_asignado: equipo, estado: 'En análisis' }, respuesta_cliente: 'Recibimos tu reporte. Lo vinculamos al incidente '+j.caso_id+' (afectados: '+j.afectados+'). Lo derivamos a '+equipo+'. Te avisaremos por este mismo canal. Estado: En análisis.' } };" }, "id": "paquete", "name": "Paquete Incidente", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1520, 120] },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t1", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Equipo Pagos/QR", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Pagos/QR" }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t2", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Equipo Seguridad/Accesos", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Seguridad" }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t3", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "DevOps Aplicaciones", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "DevOps" }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t4", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Infraestructura/TI", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Infraestructura/TI" } ] }, "options": { "fallbackOutput": "extra" } }, "id": "switch-equipo", "name": "Enrutar a Equipo", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [1740, 120] },
    { "parameters": {}, "id": "team-pagos", "name": "Equipo Pagos/QR", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1980, -100] },
    { "parameters": {}, "id": "team-seg", "name": "Equipo Seguridad/Accesos", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1980, 40] },
    { "parameters": {}, "id": "team-devops", "name": "DevOps Aplicaciones", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1980, 180] },
    { "parameters": {}, "id": "team-infra", "name": "Infraestructura/TI", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1980, 320] },
    { "parameters": {}, "id": "team-mesa", "name": "Mesa de Incidentes TI", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1980, 460] },
    { "parameters": { "jsCode": "// RESPUESTA QUEJA - LEE EL PLAYBOOK VIVO (compartido con Resolver)\nconst j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.playbook = sd.playbook || {};\nconst defaults = {\n  acceso: { pasos: ['1. Cierra y vuelve a abrir la app','2. Si cambiaste de dispositivo, reactiva tus tokens','3. Si persiste, vuelve a escanear tu carnet'], respuesta: 'Para resolver tu acceso: reactiva tus tokens o vuelve a escanear tu carnet siguiendo los pasos.' },\n  transacciones: { pasos: ['1. Verifica tu comprobante','2. Espera el transcurso del día (conciliación)','3. Si no se refleja, te contactamos'], respuesta: 'Tu operación está en proceso. Espera el transcurso del día; se reflejará tras la conciliación.' },\n  rendimiento: { pasos: ['1. Revisa tu conexión','2. Cierra otras apps','3. Actualiza la app'], respuesta: 'Puede ser conexión o versión. Sigue los pasos; si continúa, avísanos.' },\n  datos: { pasos: ['1. Refresca la pantalla','2. Espera unos minutos','3. Si no aparece, te ayudamos'], respuesta: 'Tu información puede tardar en actualizarse. Refresca; si no aparece, escríbenos.' },\n  general: { pasos: ['1. Revisa tu conexión','2. Actualiza la app'], respuesta: 'Gracias por tu consulta. Sigue los pasos; si continúa, escríbenos.' }\n};\nconst clave = (j.producto||'x') + '|' + (j.categoria||'general');\nconst vivo = sd.playbook[clave];\nlet pasos, respuesta, version;\nif (vivo) { pasos = vivo.pasos; respuesta = vivo.respuesta; version = 'v' + vivo.version + ' (vivo)'; }\nelse { const pb = defaults[j.categoria] || defaults.general; pasos = pb.pasos; respuesta = pb.respuesta; version = 'v1 (base)'; }\nreturn { json: { ...j, resultado: (j.tipo === 'consulta' ? 'CONSULTA' : 'QUEJA'), estado: (j.tipo === 'consulta' ? 'Respondido' : 'Resuelto (autoservicio)'), equipo_asignado: 'Ninguno (autoservicio)', playbook_version: version, respuesta_cliente: respuesta, pasos } };" }, "id": "queja", "name": "Respuesta Queja (Playbook Vivo)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1520, 600] },
    { "parameters": { "jsCode": "const j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.casos = sd.casos || [];\nsd.metricas = sd.metricas || { total: 0, quejas: 0, incidentes: 0 };\nsd.metricas.total += 1;\nif (j.resultado === 'INCIDENTE') sd.metricas.incidentes += 1; else sd.metricas.quejas += 1;\nsd.casos.push({ caso_id: j.caso_id, tipo: j.resultado, producto: j.producto, categoria: j.categoria, firma: j.firma, estado: j.estado, canal: j.canal, afectados: j.afectados, equipo: j.equipo_asignado, ia: j.clasificado_por, ts: new Date().toISOString() });\nif (sd.casos.length > 500) sd.casos = sd.casos.slice(-500);\nj.metricas = sd.metricas;\nreturn { json: j };" }, "id": "registrar", "name": "Registrar Estado y Metricas", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2240, 280] },
    { "parameters": { "method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" }, { "name": "content-type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 500, temperature: 0.4, messages: [ { role: 'system', content: 'Sos el agente de atencion al cliente de BancoSol (deci siempre BancoSol, nunca solo banco) por WhatsApp. Tene SIEMPRE en cuenta TODO el contexto previo de la conversacion para no perder el hilo aunque el cliente cambie de tema o use palabras genericas. Responde EXACTAMENTE en este formato y NADA mas: primero el MENSAJE PARA EL CLIENTE, luego una linea con solo tres guiones ---, luego la PARTE TECNICA. No uses JSON, comillas de envoltura, ni etiquetas o titulos (NO escribas las palabras MENSAJE PARA EL CLIENTE ni PARTE TECNICA): escribi directamente el contenido de cada parte. MENSAJE PARA EL CLIENTE: calido y humano; si saluda o charla responde natural y amable (ej: Muy bien gracias! Vos como andas? En que te ayudo?); si es QUEJA resolvela vos misma: empeza con UNA frase calida y empatica, despues da la solucion en pasos NUMERADOS, cada paso en su propia linea con el formato 1. 2. 3. 4., redactados simples y directos para el cliente sin tecnicismos internos, basandote en los pasos del manual, y cerra ofreciendo seguir ayudando (que NO suene rigido ni de plantilla, adaptalo al caso real); si es INCIDENTE deci que ya registramos su caso y que el equipo de BancoSol esta trabajando y que le avisaremos por aca, sin tecnicismos. PARTE TECNICA: si es INCIDENTE una recomendacion para el equipo de soporte de BancoSol con posible causa y pasos de diagnostico y solucion; si NO es incidente dejala vacia. No inventes datos ni cifras.' }, { role: 'user', content: 'CONTEXTO PREVIO de la conversacion: ' + ($json.historial || '(sin mensajes previos)') + '. MENSAJE ACTUAL del cliente: ' + ($json.texto_tokenizado || '') + '. Clasificacion: ' + ($json.tipo || 'queja') + ' / ' + ($json.categoria || 'general') + ($json.tipo === 'incidente' ? ('. Caso ' + ($json.caso_id || '') + ', derivado a ' + ($json.equipo_asignado || '')) : ('. Pasos del manual: ' + (Array.isArray($json.pasos) ? $json.pasos.join(' ') : ''))) } ] }) }}", "options": {} }, "id": "gen-resp", "name": "Generar Respuesta IA", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2440, 80], "onError": "continueRegularOutput" },
    { "parameters": { "jsCode": "const base = $('Registrar Estado y Metricas').item.json;\nconst resp = $input.item.json;\nlet txt = '';\ntry { if (resp && resp.choices && resp.choices[0] && resp.choices[0].message) txt = (resp.choices[0].message.content || '').trim(); } catch (e) {}\nif (txt) {\n  let t = txt.replace(/```/g, '').trim(); let cliente = t, tecnico = ''; const idx = t.indexOf('---'); if (idx >= 0) { cliente = t.slice(0, idx); tecnico = t.slice(idx + 3); } cliente = cliente.replace(/^\\s*(mensaje\\s+para\\s+el\\s+cliente|cliente)\\s*:?\\s*/i, '').trim(); tecnico = tecnico.replace(/^\\s*(parte\\s+tecnica|tecnico)\\s*:?\\s*/i, '').trim(); if (cliente) base.respuesta_cliente = cliente; base.respuesta_ia = true; if (tecnico) base.recomendacion_tecnica = tecnico;\n}\nreturn { json: base };" }, "id": "aplicar-resp", "name": "Aplicar Respuesta IA", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 80] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-demo", "leftValue": "={{ $json.origen }}", "rightValue": "demo", "operator": { "type": "string", "operation": "equals" } } ] }, "options": {} }, "id": "if-demo", "name": "origen = demo?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [2460, 280] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-wa", "leftValue": "={{ $json.origen }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } } ] }, "options": {} }, "id": "if-wa", "name": "origen = whatsapp?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [2680, 420] },
    { "parameters": { "options": {} }, "id": "respond-demo", "name": "Responder Demo", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2680, 180] },
    { "parameters": { "operation": "send", "phoneNumberId": "PEGAR_PHONE_NUMBER_ID", "recipientPhoneNumber": "={{ $json.remitente }}", "messageType": "text", "textBody": "={{ $json.respuesta_cliente }}", "additionalFields": {} }, "id": "send-wa", "name": "Enviar WhatsApp", "type": "n8n-nodes-base.whatsApp", "typeVersion": 1, "position": [2900, 340] },
    { "parameters": { "method": "POST", "url": "https://graph.facebook.com/v21.0/PEGAR_PAGE_ID/messages", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer PEGAR_META_TOKEN" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ recipient: { id: $json.remitente }, message: { text: $json.respuesta_cliente } }) }}", "options": {} }, "id": "send-meta", "name": "Enviar Meta", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2900, 500] },

    { "parameters": { "content": "## CIERRE DEL CICLO\nEl equipo resuelve -> pasos -> Playbook Vivo (MISMA base que usa Respuesta Queja) -> Informe ASFI.\nPOST /webhook/soluno-resolver", "height": 180, "width": 360 }, "id": "nota-cierre", "name": "Nota Cierre", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-560, 760] },
    { "parameters": { "httpMethod": "POST", "path": "soluno-resolver", "responseMode": "responseNode", "options": {} }, "id": "wh-resolver", "name": "Resolver (Dev)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-140, 920], "webhookId": "soluno-resolver" },
    { "parameters": { "jsCode": "const j = $input.item.json.body || $input.item.json;\nconst sol = (j.solucion || '').toString().trim();\nlet pasos = sol.split(/[\\n.;]+/).map(s => s.trim()).filter(s => s.length > 3).map((s, i) => (i + 1) + '. ' + s.charAt(0).toUpperCase() + s.slice(1));\nif (pasos.length === 0) pasos = ['1. ' + (sol || 'Sin detalle')];\nreturn { json: { caso_id: j.caso_id || 'INC-?', producto: j.producto || 'desconocido', categoria: j.categoria || 'general', severidad: j.severidad || 'alta', afectados: j.afectados || 0, duracion_min: j.duracion_min || null, solucion_original: sol, pasos } };" }, "id": "convertir", "name": "Convertir en Pasos", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [120, 920] },
    { "parameters": { "jsCode": "// PUBLICAR AL PLAYBOOK VIVO (misma static data que lee Respuesta Queja)\nconst j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.playbook = sd.playbook || {};\nconst clave = (j.producto||'x') + '|' + (j.categoria||'general');\nconst prev = sd.playbook[clave];\nconst version = prev ? prev.version + 1 : 1;\nconst respuesta = 'Solución validada por el equipo: ' + j.pasos.join(' ');\nsd.playbook[clave] = { version, pasos: j.pasos, respuesta, actualizado: new Date().toISOString(), caso_id: j.caso_id };\nreturn { json: { ...j, playbook: { clave, version, pasos: j.pasos, respuesta, estado: version > 1 ? 'actualizado (v'+version+')' : 'creado (v1)' } } };" }, "id": "publicar", "name": "Publicar al Playbook Vivo", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [360, 920] },
    { "parameters": { "jsCode": "const j = $input.item.json;\nconst fecha = new Date().toISOString().slice(0,10);\nconst informe = { numero: 'ASFI-'+(j.caso_id||'').replace('INC-','')+'-'+fecha.replace(/-/g,''), fecha, tipo_incidente: (j.categoria||'general')+' en '+(j.producto||'desconocido'), severidad: j.severidad, clientes_afectados: j.afectados, duracion_minutos: j.duracion_min, que_paso: 'Incidente '+j.caso_id+' de tipo '+j.categoria+' en '+j.producto+', severidad '+j.severidad+', con '+j.afectados+' afectado(s).', como_se_resolvio: j.solucion_original, acciones_preventivas: j.pasos, estado: 'BORRADOR — pendiente de aprobación humana' };\nreturn { json: { resultado: 'CICLO CERRADO', caso_id: j.caso_id, playbook: j.playbook, informe_asfi: informe, mensaje: 'Solución publicada al Playbook '+j.playbook.estado+' y borrador de informe ASFI generado ('+informe.numero+').' } };" }, "id": "informe", "name": "Generar Informe ASFI", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [600, 920] },
    { "parameters": { "options": {} }, "id": "respond-resol", "name": "Responder Resolver", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 920] }
  ],
  "connections": {
    "WA Trigger (produccion)": { "main": [[{ "node": "Norm. WhatsApp", "type": "main", "index": 0 }]] },
    "Meta Webhook (produccion)": { "main": [[{ "node": "Norm. Meta", "type": "main", "index": 0 }]] },
    "Webhook Demo": { "main": [[{ "node": "Norm. Demo", "type": "main", "index": 0 }]] },
    "Norm. WhatsApp": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Norm. Meta": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Norm. Demo": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Tokenizar (PII)": { "main": [[{ "node": "Clasificar IA (Groq)", "type": "main", "index": 0 }]] },
    "Clasificar IA (Groq)": { "main": [[{ "node": "Interpretar Clasificacion", "type": "main", "index": 0 }]] },
    "Interpretar Clasificacion": { "main": [[{ "node": "Agrupar (semantico) y Contar", "type": "main", "index": 0 }]] },
    "Agrupar (semantico) y Contar": { "main": [[{ "node": "Es Incidente?", "type": "main", "index": 0 }]] },
    "Es Incidente?": { "main": [[{ "node": "Paquete Incidente", "type": "main", "index": 0 }], [{ "node": "Respuesta Queja (Playbook Vivo)", "type": "main", "index": 0 }]] },
    "Paquete Incidente": { "main": [[{ "node": "Enrutar a Equipo", "type": "main", "index": 0 }]] },
    "Enrutar a Equipo": { "main": [[{ "node": "Equipo Pagos/QR", "type": "main", "index": 0 }], [{ "node": "Equipo Seguridad/Accesos", "type": "main", "index": 0 }], [{ "node": "DevOps Aplicaciones", "type": "main", "index": 0 }], [{ "node": "Infraestructura/TI", "type": "main", "index": 0 }], [{ "node": "Mesa de Incidentes TI", "type": "main", "index": 0 }]] },
    "Equipo Pagos/QR": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Equipo Seguridad/Accesos": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "DevOps Aplicaciones": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Infraestructura/TI": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Mesa de Incidentes TI": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Respuesta Queja (Playbook Vivo)": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Registrar Estado y Metricas": { "main": [[{ "node": "Generar Respuesta IA", "type": "main", "index": 0 }]] },
    "Generar Respuesta IA": { "main": [[{ "node": "Aplicar Respuesta IA", "type": "main", "index": 0 }]] },
    "Aplicar Respuesta IA": { "main": [[{ "node": "origen = demo?", "type": "main", "index": 0 }]] },
    "origen = demo?": { "main": [[{ "node": "Responder Demo", "type": "main", "index": 0 }], [{ "node": "origen = whatsapp?", "type": "main", "index": 0 }]] },
    "origen = whatsapp?": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }], [{ "node": "Enviar Meta", "type": "main", "index": 0 }]] },
    "Resolver (Dev)": { "main": [[{ "node": "Convertir en Pasos", "type": "main", "index": 0 }]] },
    "Convertir en Pasos": { "main": [[{ "node": "Publicar al Playbook Vivo", "type": "main", "index": 0 }]] },
    "Publicar al Playbook Vivo": { "main": [[{ "node": "Generar Informe ASFI", "type": "main", "index": 0 }]] },
    "Generar Informe ASFI": { "main": [[{ "node": "Responder Resolver", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
