SolUno_n8n_watest.json
{
  "id": "soluno-watest",
  "name": "SolUno - Test Envio WhatsApp",
  "active": false,
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "test-wa", "responseMode": "responseNode", "options": {} }, "id": "wh", "name": "Disparar envio", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 300], "webhookId": "test-wa" },
    { "parameters": { "method": "POST", "url": "=https://graph.facebook.com/v22.0/{{ $env.WA_PHONE_ID }}/messages", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify( ($json.body && $json.body.interactive) ? { messaging_product:'whatsapp', to:$json.body.to, type:'interactive', interactive:$json.body.interactive } : { messaging_product:'whatsapp', to:(($json.body && $json.body.to) ? $json.body.to : '59169176200'), type:(($json.body && $json.body.text) ? 'text' : 'template'), text:{ body:(($json.body && $json.body.text) ? $json.body.text : 'SolUno') }, template:{ name:'hello_world', language:{ code:'en_US' } } } ) }}", "options": {} }, "id": "send", "name": "Enviar a Meta", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 300], "onError": "continueRegularOutput" },
    { "parameters": { "options": {} }, "id": "resp", "name": "Responder", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [720, 300] }
  ],
  "connections": {
    "Disparar envio": { "main": [[{ "node": "Enviar a Meta", "type": "main", "index": 0 }]] },
    "Enviar a Meta": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
