SolUno_n8n_flujo_completo.json
{
  "id": "soluno-main",
  "name": "SolUno - Flujo Completo (WhatsApp + Meta)",
  "active": false,
  "nodes": [
    {
      "parameters": { "content": "## SolUno - Flujo Completo\n\n**Canales:** WhatsApp + Meta (FB/IG) + Demo.\n**QUEJA** => autoservicio (Playbook).\n**INCIDENTE** => ruteo al EQUIPO correcto.\n\nEl Webhook Demo funciona sin credenciales.", "height": 260, "width": 340 },
      "id": "nota-config",
      "name": "Config / Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-540, 40]
    },
    {
      "parameters": { "content": "### AGENTE IA (Claude)\nClasifica con IA real.\nLee la API key de la variable de entorno ANTHROPIC_API_KEY.\n\n**Si NO hay key** => cae automaticamente a reglas (el demo sigue funcionando).\n**Con key** => Claude entiende el contexto (mucho mejor que reglas).", "height": 220, "width": 320 },
      "id": "nota-ia",
      "name": "Nota Agente IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -140]
    },
    {
      "parameters": { "updates": ["messages"] },
      "id": "trig-wa",
      "name": "WA Trigger (produccion)",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-120, 80],
      "disabled": true
    },
    {
      "parameters": { "httpMethod": "POST", "path": "meta-incoming", "responseMode": "onReceived", "options": {} },
      "id": "trig-meta",
      "name": "Meta Webhook (produccion)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-120, 280],
      "webhookId": "meta-incoming"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "soluno-reporte", "responseMode": "responseNode", "options": {} },
      "id": "trig-demo",
      "name": "Webhook Demo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-120, 480],
      "webhookId": "soluno-reporte"
    },
    {
      "parameters": { "jsCode": "const j = $input.item.json;\nlet mensaje = '', remitente = '';\ntry {\n  const m = (j.messages && j.messages[0]) || (j.entry && j.entry[0].changes[0].value.messages[0]);\n  mensaje = m.text ? m.text.body : (m.body || '');\n  remitente = m.from || '';\n} catch (e) { mensaje = j.message || ''; }\nreturn { json: { origen: 'whatsapp', canal: 'WhatsApp', producto: '', agencia: '', mensaje, cliente: { telefono: remitente }, remitente } };" },
      "id": "norm-wa",
      "name": "Norm. WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 80]
    },
    {
      "parameters": { "jsCode": "const b = $input.item.json.body || $input.item.json;\nlet canal = b.object === 'instagram' ? 'Instagram' : 'Facebook';\nlet mensaje = '', remitente = '';\ntry {\n  const ev = b.entry[0].messaging[0];\n  mensaje = ev.message ? (ev.message.text || '') : '';\n  remitente = ev.sender ? ev.sender.id : '';\n} catch (e) { mensaje = b.mensaje || ''; canal = b.canal || canal; }\nreturn { json: { origen: 'meta', canal, producto: '', agencia: '', mensaje, cliente: { id: remitente }, remitente } };" },
      "id": "norm-meta",
      "name": "Norm. Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 280]
    },
    {
      "parameters": { "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst cli = b.cliente || {};\nreturn { json: { origen: 'demo', canal: b.canal || 'Demo', producto: b.producto || '', agencia: b.agencia || '', mensaje: b.mensaje || '', cliente: cli, remitente: b.remitente || cli.telefono || cli.id || '' } };" },
      "id": "norm-demo",
      "name": "Norm. Demo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 480]
    },
    {
      "parameters": { "jsCode": "// === 2. TOKENIZACION (on-premise) ===\nconst j = $input.item.json;\nconst cliente = j.cliente || {};\nlet texto = (j.mensaje || '').toString();\nconst mapa = {};\nfunction tk(v, p) { if (!v) return; const t = '{' + p + '_001}'; mapa[t] = v; if (texto.includes(v)) texto = texto.split(v).join(t); }\ntk(cliente.nombre, 'NAME');\ntk(cliente.ci, 'CI');\ntk(cliente.cuenta, 'ACCT');\ntk(cliente.telefono, 'PHONE');\nreturn { json: { ...j, texto_tokenizado: texto, mapa_tokens: mapa, cliente_visible: { nombre: cliente.nombre || null, ci: cliente.ci || null } } };" },
      "id": "tokenizar",
      "name": "Tokenizar (PII)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
          { "name": "content-type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 300, temperature: 0, messages: [{ role: 'system', content: 'Eres un clasificador de incidencias de BancoSol. Responde SOLO con un JSON valido, sin texto extra, con esta forma exacta: {\"tipo\":\"queja|incidente\",\"producto\":\"altoke|appSol|Solnet|desconocido\",\"categoria\":\"acceso|transacciones|rendimiento|datos|general\",\"severidad\":\"alta|media|baja\"}. Es INCIDENTE si falla una funcion critica de forma generalizada (login, transferencia, QR, ACH, app caida, nadie puede entrar). Es QUEJA si es un caso particular de bajo impacto con solucion conocida (cambio de dispositivo y debe reactivar tokens; pago y aun figura la deuda; dudas de configuracion).' }, { role: 'user', content: ($json.texto_tokenizado || '') }] }) }}",
        "options": {}
      },
      "id": "clasif-ia",
      "name": "Clasificar IA (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 180],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "jsCode": "// === 3. INTERPRETAR: usa Claude si respondio JSON valido; si no, REGLAS ===\nconst base = $('Tokenizar (PII)').item.json;\nconst resp = $input.item.json;\nlet tipo, producto, categoria, severidad, fuente = 'reglas';\n\ntry {\n  let txt = '';\n  if (resp && resp.choices && resp.choices[0] && resp.choices[0].message) txt = resp.choices[0].message.content || '';\n  else if (resp && resp.content && resp.content[0] && resp.content[0].text) txt = resp.content[0].text;\n  else if (typeof resp === 'string') txt = resp;\n  if (txt) {\n    const a = txt.indexOf('{'); const b = txt.lastIndexOf('}');\n    if (a >= 0 && b > a) { const c = JSON.parse(txt.slice(a, b + 1)); if (c.tipo) { tipo = c.tipo; producto = c.producto; categoria = c.categoria; severidad = c.severidad; fuente = 'ia (groq)'; } }\n  }\n} catch (e) {}\n\nif (!tipo) {\n  const t = (base.texto_tokenizado || '').toLowerCase();\n  producto = base.producto || 'desconocido';\n  if (t.includes('altoke') || t.includes('qr')) producto = 'altoke';\n  else if (t.includes('appsol')) producto = 'appSol';\n  else if (t.includes('solnet')) producto = 'Solnet';\n  tipo = 'queja'; severidad = 'baja'; categoria = 'general';\n  const conocidas = [['cambie de celular','cambié de celular','cambie de dispositivo','nuevo celular','nuevo dispositivo'], ['escanear','carnet','extranjero'], ['sigue saliendo la deuda','sigue la deuda','no me han devuelto','ya pague','pague y sigue']];\n  const cats = ['acceso','acceso','transacciones'];\n  let conocida = false;\n  for (let i = 0; i < conocidas.length; i++) { if (conocidas[i].some(x => t.includes(x))) { conocida = true; categoria = cats[i]; break; } }\n  if (!conocida) {\n    const senales = ['no puedo entrar','no puedo iniciar','no inicia','no carga','no funciona','caido','caida','no puedo transferir','qr no','no procesa','error general','se cae','app caida','no puedo acceder','no anda','nadie puede'];\n    const criticas = ['login','iniciar sesion','transferencia','transferir','qr','ach'];\n    if (senales.some(k => t.includes(k))) { tipo = 'incidente'; severidad = 'alta'; }\n    if (criticas.some(k => t.includes(k)) && (t.includes('no ') || t.includes('error') || t.includes('falla'))) { tipo = 'incidente'; severidad = 'alta'; }\n    if (t.includes('transfer') || t.includes('pago') || t.includes('qr')) categoria = 'transacciones';\n    else if (t.includes('iniciar') || t.includes('login') || t.includes('entrar') || t.includes('sesion') || t.includes('acceso')) categoria = 'acceso';\n    else if (t.includes('lento') || t.includes('demora') || t.includes('timeout')) categoria = 'rendimiento';\n    else if (t.includes('saldo') || t.includes('movimiento') || t.includes('comprobante')) categoria = 'datos';\n  }\n}\nif (tipo !== 'queja' && tipo !== 'incidente') tipo = 'queja';\nreturn { json: { ...base, tipo, severidad: severidad || 'baja', producto: producto || 'desconocido', categoria: categoria || 'general', clasificado_por: fuente } };" },
      "id": "interpretar",
      "name": "Interpretar Clasificacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 280]
    },
    {
      "parameters": { "jsCode": "// === 4. AGRUPAR INCIDENTES + CONTAR AFECTADOS ===\nconst j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.incidentes = sd.incidentes || {};\nif (j.tipo === 'incidente') {\n  const clave = (j.producto || 'x') + '|' + (j.categoria || 'general');\n  if (!sd.incidentes[clave]) { sd.incidentes[clave] = { caso_id: 'INC-' + Date.now().toString().slice(-5), afectados: 0 }; }\n  sd.incidentes[clave].afectados += 1;\n  j.caso_id = sd.incidentes[clave].caso_id;\n  j.afectados = sd.incidentes[clave].afectados;\n  j.incidente_nuevo = sd.incidentes[clave].afectados === 1;\n} else {\n  j.caso_id = 'QJA-' + Date.now().toString().slice(-5);\n  j.afectados = 1;\n}\nreturn { json: j };" },
      "id": "agrupar",
      "name": "Agrupar y Contar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 280]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-inc", "leftValue": "={{ $json.tipo }}", "rightValue": "incidente", "operator": { "type": "string", "operation": "equals" } } ] },
        "options": {}
      },
      "id": "if-inc",
      "name": "Es Incidente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1280, 280]
    },
    {
      "parameters": { "jsCode": "// === 6a. PAQUETE DE INCIDENTE + asignar EQUIPO ===\nconst j = $input.item.json;\nlet equipo = 'Mesa de Incidentes TI';\nif (j.categoria === 'transacciones' || j.producto === 'altoke') equipo = 'Equipo Pagos/QR';\nelse if (j.categoria === 'acceso') equipo = 'Equipo Seguridad/Accesos';\nelse if (j.categoria === 'rendimiento') equipo = 'Infraestructura/TI';\nelse if (j.producto === 'appSol' || j.producto === 'Solnet') equipo = 'DevOps Aplicaciones';\nreturn { json: { ...j, resultado: 'INCIDENTE', estado: 'En análisis', equipo_asignado: equipo, paquete_para_desarrollo: { que_falla: (j.categoria || 'general') + ' en ' + (j.producto || 'desconocido'), producto: j.producto, severidad: j.severidad, afectados: j.afectados, incidente_nuevo: j.incidente_nuevo, datos_para_reproducir: { canal: j.canal, producto: j.producto, agencia: j.agencia, texto_tokenizado: j.texto_tokenizado }, equipo_asignado: equipo, estado: 'En análisis' }, respuesta_cliente: 'Recibimos tu reporte. Lo vinculamos al incidente ' + j.caso_id + ' (afectados: ' + j.afectados + '). Lo derivamos a ' + equipo + '. Te avisaremos por este mismo canal. Estado: En análisis.' } };" },
      "id": "paquete",
      "name": "Paquete Incidente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 120]
    },
    {
      "parameters": { "content": "### RUTEO AL EQUIPO CORRECTO\nCada salida = aviso real (Slack/Teams/Email/HTTP) al equipo.", "height": 140, "width": 300 },
      "id": "nota-equipos",
      "name": "Nota Ruteo Equipos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1680, -200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t1", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Equipo Pagos/QR", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Pagos/QR" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t2", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Equipo Seguridad/Accesos", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Seguridad" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t3", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "DevOps Aplicaciones", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "DevOps" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "t4", "leftValue": "={{ $json.equipo_asignado }}", "rightValue": "Infraestructura/TI", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Infraestructura/TI" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-equipo",
      "name": "Enrutar a Equipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1720, 120]
    },
    { "parameters": {}, "id": "team-pagos", "name": "Equipo Pagos/QR", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1960, -100] },
    { "parameters": {}, "id": "team-seg", "name": "Equipo Seguridad/Accesos", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1960, 40] },
    { "parameters": {}, "id": "team-devops", "name": "DevOps Aplicaciones", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1960, 180] },
    { "parameters": {}, "id": "team-infra", "name": "Infraestructura/TI", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1960, 320] },
    { "parameters": {}, "id": "team-mesa", "name": "Mesa de Incidentes TI", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [1960, 460] },
    {
      "parameters": { "jsCode": "// === 6b. RESPUESTA QUEJA (Playbook Vivo) - se resuelve sola ===\nconst j = $input.item.json;\nconst playbook = {\n  acceso: { pasos: ['1. Cierra y vuelve a abrir la app', '2. Si cambiaste de dispositivo, reactiva tus tokens', '3. Si persiste, vuelve a escanear tu carnet'], respuesta: 'Para resolver tu acceso: reactiva tus tokens o vuelve a escanear tu carnet siguiendo los pasos. Si continúa, escríbenos.' },\n  transacciones: { pasos: ['1. Verifica tu comprobante', '2. Espera el transcurso del día (conciliación)', '3. Si no se refleja, te contactamos'], respuesta: 'Tu operación está en proceso. Por favor espera el transcurso del día; se reflejará tras la conciliación.' },\n  rendimiento: { pasos: ['1. Revisa tu conexión', '2. Cierra otras apps', '3. Actualiza la app'], respuesta: 'Puede ser conexión o versión. Sigue los pasos; si continúa, avísanos.' },\n  datos: { pasos: ['1. Refresca la pantalla', '2. Espera unos minutos', '3. Si no aparece, te ayudamos'], respuesta: 'Tu información puede tardar en actualizarse. Refresca; si no aparece, escríbenos.' },\n  general: { pasos: ['1. Revisa tu conexión', '2. Actualiza la app'], respuesta: 'Gracias por tu consulta. Sigue los pasos; si continúa, escríbenos.' }\n};\nconst pb = playbook[j.categoria] || playbook.general;\nreturn { json: { ...j, resultado: 'QUEJA', estado: 'Resuelto (autoservicio)', equipo_asignado: 'Ninguno (autoservicio)', playbook_version: 'v1', respuesta_cliente: pb.respuesta, pasos: pb.pasos } };" },
      "id": "queja",
      "name": "Respuesta Queja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 600]
    },
    {
      "parameters": { "jsCode": "// === 8. REGISTRAR ESTADO + METRICAS ===\nconst j = $input.item.json;\nconst sd = $getWorkflowStaticData('global');\nsd.casos = sd.casos || [];\nsd.metricas = sd.metricas || { total: 0, quejas: 0, incidentes: 0 };\nsd.metricas.total += 1;\nif (j.resultado === 'INCIDENTE') sd.metricas.incidentes += 1; else sd.metricas.quejas += 1;\nsd.casos.push({ caso_id: j.caso_id, tipo: j.resultado, producto: j.producto, categoria: j.categoria, estado: j.estado, canal: j.canal, afectados: j.afectados, equipo: j.equipo_asignado, ia: j.clasificado_por, ts: new Date().toISOString() });\nif (sd.casos.length > 500) sd.casos = sd.casos.slice(-500);\nj.metricas = sd.metricas;\nreturn { json: j };" },
      "id": "registrar",
      "name": "Registrar Estado y Metricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 280]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-demo", "leftValue": "={{ $json.origen }}", "rightValue": "demo", "operator": { "type": "string", "operation": "equals" } } ] },
        "options": {}
      },
      "id": "if-demo",
      "name": "origen = demo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2440, 280]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c-wa", "leftValue": "={{ $json.origen }}", "rightValue": "whatsapp", "operator": { "type": "string", "operation": "equals" } } ] },
        "options": {}
      },
      "id": "if-wa",
      "name": "origen = whatsapp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 420]
    },
    {
      "parameters": { "options": {} },
      "id": "respond-demo",
      "name": "Responder Demo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 180]
    },
    {
      "parameters": { "operation": "send", "phoneNumberId": "PEGAR_PHONE_NUMBER_ID", "recipientPhoneNumber": "={{ $json.remitente }}", "messageType": "text", "textBody": "={{ $json.respuesta_cliente }}", "additionalFields": {} },
      "id": "send-wa",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [2880, 340]
    },
    {
      "parameters": { "method": "POST", "url": "https://graph.facebook.com/v21.0/PEGAR_PAGE_ID/messages", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer PEGAR_META_TOKEN" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ recipient: { id: $json.remitente }, message: { text: $json.respuesta_cliente } }) }}", "options": {} },
      "id": "send-meta",
      "name": "Enviar Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 500]
    }
  ],
  "connections": {
    "WA Trigger (produccion)": { "main": [[{ "node": "Norm. WhatsApp", "type": "main", "index": 0 }]] },
    "Meta Webhook (produccion)": { "main": [[{ "node": "Norm. Meta", "type": "main", "index": 0 }]] },
    "Webhook Demo": { "main": [[{ "node": "Norm. Demo", "type": "main", "index": 0 }]] },
    "Norm. WhatsApp": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Norm. Meta": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Norm. Demo": { "main": [[{ "node": "Tokenizar (PII)", "type": "main", "index": 0 }]] },
    "Tokenizar (PII)": { "main": [[{ "node": "Clasificar IA (Groq)", "type": "main", "index": 0 }]] },
    "Clasificar IA (Groq)": { "main": [[{ "node": "Interpretar Clasificacion", "type": "main", "index": 0 }]] },
    "Interpretar Clasificacion": { "main": [[{ "node": "Agrupar y Contar", "type": "main", "index": 0 }]] },
    "Agrupar y Contar": { "main": [[{ "node": "Es Incidente?", "type": "main", "index": 0 }]] },
    "Es Incidente?": { "main": [[{ "node": "Paquete Incidente", "type": "main", "index": 0 }], [{ "node": "Respuesta Queja", "type": "main", "index": 0 }]] },
    "Paquete Incidente": { "main": [[{ "node": "Enrutar a Equipo", "type": "main", "index": 0 }]] },
    "Enrutar a Equipo": { "main": [[{ "node": "Equipo Pagos/QR", "type": "main", "index": 0 }], [{ "node": "Equipo Seguridad/Accesos", "type": "main", "index": 0 }], [{ "node": "DevOps Aplicaciones", "type": "main", "index": 0 }], [{ "node": "Infraestructura/TI", "type": "main", "index": 0 }], [{ "node": "Mesa de Incidentes TI", "type": "main", "index": 0 }]] },
    "Equipo Pagos/QR": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Equipo Seguridad/Accesos": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "DevOps Aplicaciones": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Infraestructura/TI": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Mesa de Incidentes TI": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Respuesta Queja": { "main": [[{ "node": "Registrar Estado y Metricas", "type": "main", "index": 0 }]] },
    "Registrar Estado y Metricas": { "main": [[{ "node": "origen = demo?", "type": "main", "index": 0 }]] },
    "origen = demo?": { "main": [[{ "node": "Responder Demo", "type": "main", "index": 0 }], [{ "node": "origen = whatsapp?", "type": "main", "index": 0 }]] },
    "origen = whatsapp?": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }], [{ "node": "Enviar Meta", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
